<div class="content">
  <h4>Article Detail</h4>
  <table class=list_articles>
    <tr>
      <td><strong>Title</strong> : </td>
      <td><%= @article.title %></td>
    </tr>
    <tr> 
      <td><strong>Content</strong> : </td>
      <td><%= @article.body %></td>
    </tr>
    <tr> 
      <td><strong>Created_at</strong> : </td>
      <td><%= @article.created_at %></td>
    </tr>
    <tr> 
      <td><strong>updated_at</strong> : </td>
      <td><%= @article.updated_at %></td>
    </tr>
  </table>
</div>
<%= link_to 'Back to Articles', articles_path %>

